### Programming for Data Analysis 2020 Submission

#### GMIT Higher Diploma in Data Analytics

#### Submitted by Fiona Lee - 3 December 2021

This project creates and models a simulated data set related to a chosen real-world phenomenon using the numpy.random package in Python.  This approach is taken rather than collecting the data.

The elements explored will be:

(i)   Choose a real-world phenomenon that can be measured and for which you could collect at least one-hundred data points across at least four different variables.

(ii)  Investigate  the  types  of  variables  involved,  their  likely  distributions,  and  their relationships with each other.

(iii) Synthesise/simulate a data set as closely matching their properties as possible.

(iv)  Detail your research and implement the simulation in a Jupyter notebook – the data set itself can simply be     displayed in an output cell within the notebook.

### Project Outline:

#### Factors affecting length of stay of dogs in animal shelters 

For this project I generated simulated data on the factors that contribute to the duration of a dog's length of stay in an animal shelter from entry to adoption/foster/euthenasia.

I concluded the main measurable factors that influence the duration of a dog's stay are:
    
1. Age
2. Gender
3. Pedigree  
4. Size

I will explore each of these factors in the following sections and how they combined to affect a dog's likelyhood of achieving a speedy adoption or otherwise.

### Import Modules:

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

### Research:

My initial research found plentiful statistics in relation to US animal shelters (see below) which I initially thought could be applied to extrapoloate the data for Irish shelters. On further investigation however I found that there are fundamental differences between the US and Ireland due to lower euthenasia rates and longer average shelter stays in Ireland.  For this reason, my approach has been to use UK studies where available and to use the US statistics as a guide to estimate the metrics for Ireland.

The 'Dogs Trust' dataset provides high level summary information based on 2,806 dogs in the UK shelter.  This information in this dataset was supplemented by the findings of the 'Austin' dataset which provides more detailed information from the US.

In [31]:
#Import 'Dogs Trust' dataset:

df1 = pd.read_excel('Dogs-Trust.xlsx',usecols = [0,1,8,9],skiprows=[i for i in range(17,24)])
#https://thispointer.com/pandas-skip-rows-while-reading-csv-file-to-a-dataframe-using-read_csv-in-python/
#https://www.tandfonline.com/doi/abs/10.1080/10888700903369255?journalCode=haaw20
df1.index = np.arange(1, len(df1) + 1) #To reset the index to start at 1 instead of zero
#https://stackoverflow.com/questions/32249960/in-python-pandas-start-row-index-from-1-instead-of-zero-without-creating-additi
pd.set_option("display.precision", 2)# Use 0 decimal places in output display
df1

    Category           Variable  Number of Dogs   %  of Total
1      TOTAL              TOTAL             2806        100.0
2     Gender               Male             1595         56.8
3     Gender             Female             1211         43.2
4   Pedigree          Crossbred             2220         79.1
5   Pedigree           Purebred              586         20.9
6       Size     Small (<10 kg)              629         22.4
7       Size  Medium (10-30 kg)             1681         59.9
8       Size     Large (>30 kg)              495         17.6
9       Size            Unknown                1          0.1
10       Age         < 6 months              398         14.2
11       Age           < 1 year              616         21.9
12       Age           <3 years              812         28.9
13       Age           <6 years              530         18.9
14       Age                <10              358         12.8
15       Age                >10               91          3.2
16       Age            Unknown                1          0.1

In [92]:
#Import 'Austin' dataset:

df2 = pd.read_excel('Austin-Dataset.xlsx',usecols = [1,11,21],index = False)
#https://data.world/rdowns26/austin-animal-shelter/workspace/file?filename=Austin_Animal_Center_Intakes.csv
df2.index = np.arange(1, len(df2) + 1) #To reset the index to start at 1 instead of zero
df2.sort_values("ID", inplace = True) 
df2.drop_duplicates(subset ="ID",keep = False, inplace = True) 
#https://www.geeksforgeeks.org/python-pandas-dataframe-drop_duplicates/
df2

            ID  Age Years  Gender
13170  A047759  10+ years    Male
15798  A134067  10+ years    Male
15676  A141142  10+ years  Female
15677  A163459  10+ years  Female
15678  A165752  10+ years    Male
...        ...        ...     ...
42412  A746649    6 years    Male
12476  A746650     1 year  Female
36316  A746661    4 years  Female
26600  A746689    2 years  Female
26601  A746707    2 years    Male

[27376 rows x 3 columns]

In [91]:
(df2.groupby( ['Age Years'] ).count())
#df2['%'] = 100 * (df3 / len(df2))
#df['%'] = 100 * df['sales'] / df.groupby('state')['sales'].transform('sum')
#print(df.sort_values(['state', 'office_id']).reset_index(drop=True))
#https://stackoverflow.com/questions/23377108/pandas-percentage-of-total-with-groupby

             ID  Gender
Age Years
1 year     5036    5029
10+ years  1552    1546
2 years    4656    4654
3 years    2300    2296
4 years    1392    1389
5 years    1266    1265
6 years     883     883
7 years     721     720
8 years     662     661
9 years     405     403
<1 year    8503    8359

In [69]:
((df2.groupby( ['Gender'] ).count()))

           ID  Age Years
Gender
Female  12681      12681
Male    14524      14524

In [21]:
((df2.groupby( ['Pedigree'] ).count()))

               Sex    Age   Size
Pedigree
Cross Breed  44577  44577  44577
Purebred      3519   3520   3520

In [28]:
((df2.groupby( ['Size'] ).count()))

           Sex    Age  Pedigree
Size
Large    19293  19293     19293
Medium   13838  13839     13839
Small    14482  14482     14482
X Large    483    483       483

***

### Relationship between key factors:

### Age: 

#### Research Assumptions:

###### UK:  Puppy (0-1 years) 36%; Adult (1-3 years) 29%; Adult (4-6 years) 19% Senior (7+) 16%
UK: <6 mths 14%; 6-12 mths 22%; 1 year 12%;  2 years 11%; 3 years 6%; 4 years 8%; 5 years 7%; 6 years 4%; 7-9 years+ 13%; 10 yrs+ 3% (Extrapolated from US Study)

UK Dogs Trust study: https://www.tandfonline.com/doi/full/10.1080/10888700903369255

###### US: Puppy (0-1 years) 31%; Adult (1-3 years) 45%; Adult (4-6 years) 13% Senior (7+) 11%
US: < 1 year 31%; 1 year 19%; 2 years 17%; 3 years 9%; 4 years 5%; 5 years 5%; 6 years 3%; 7-9 years+ 6%;10 yrs+ 5%

US Study: https://faunalytics.org/understanding-the-factors-that-lead-to-successful-dog-adoptions/ 

US Study: https://data.world/rdowns26/austin-animal-shelter/workspace/file?filename=Austin_Animal_Center_Intakes.csv

### Gender: 

#### Research Assumptions:

###### UK: The split of male to female dogs based on 2,806 dogs in the 'Dogs Trust dataset' was 57% male and 43% female.
UK Dogs Trust study: https://www.tandfonline.com/doi/full/10.1080/10888700903369255

###### US: The split of male to female dogs based on the 'Austin animal shelter dataset' was 55% male and 45% female.
US Study: https://data.world/rdowns26/austin-animal-shelter/workspace/file?filename=Austin_Animal_Center_Intakes.csv 

###### Close to equal numbers of male and female dogs were surrendered. 

US Study 2008-2011: https://www.companionanimalpsychology.com/2013/03/what-influences-dogs-length-of-stay-at.html

### Pedigree:

#### Research Assumptions:

###### UK: The split of pedigree / crossbreed dogs based on 2,806 dogs in the 'Dogs Trust dataset' was 21% pedigree and 79% crossbreed dogs.
UK Dogs Trust study: https://www.tandfonline.com/doi/full/10.1080/10888700903369255

###### US: The split of pedigree / crossbreed dogs based on the 'Austin animal shelter dataset' was 7% pedigree and 93% crossbreed dogs.
US Study: https://data.world/rdowns26/austin-animal-shelter/workspace/file?filename=Austin_Animal_Center_Intakes.csv

### Size:

#### Research Assumptions:

###### UK: The split of  dog sizes based on 2,806 dogs in the 'Dogs Trust dataset' was 22% small (<10kg), 60% medium (10-30kg) and 18% large (>30kg).
UK Dogs Trust study: https://www.tandfonline.com/doi/full/10.1080/10888700903369255

###### US: The split of  dog sizes based on the 'Austin animal shelter dataset' was 30% small (<10kg), 29% medium (10-30kg) and 40% large (>30kg).
US Study: https://data.world/rdowns26/austin-animal-shelter/workspace/file?filename=Austin_Animal_Center_Intakes.csv

XS dogs are adopted soonest, followed by the small dogs. XL dogs (e.g. St Bernards) were quite unique and likely were adopted out because of this. Length of stay increased with age and was highest for medium-sized dogs.  

US Study: https://faunalytics.org/effects-of-phenotypic-characteristics-on-the-length-of-stay-of-dogs-at-two-no-kill-animal-shelters-2/

US Study 2008-2011: https://www.companionanimalpsychology.com/2013/03/what-influences-dogs-length-of-stay-at.html

### Length of Stay (Duration (Days)): 

#### Research Assumptions:

###### UK average adoption time - 29 days

UK: Puppies  < 6 months - 20 days; 6-12 months - 28 days; Adult dogs (1-6 years) - 32 days; Seniors 7+ years - 72 days (Extrapolated split by age based on US Stats)

UK Study 2001-2004: https://www.researchgate.net/publication/244642863_Factors_affecting_time_to_adoption_of_dogs_re-homed_by_a_charity_in_the_UK 

UK Study: https://veterinaryrecord.bmj.com/content/161/9/283.2

###### US average adoption time - 35 days
US Puppies  < 6 months - 23 days; 6-12 months - 33 days; Adult dogs (1-6 years) - 42 days; Seniors 7+ years - 89 days

US Study 2008-2011: https://www.companionanimalpsychology.com/2013/03/what-influences-dogs-length-of-stay-at.html
US Study (Senior Dogs): https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5867524/

***

### Set up the Data Set:

In [ ]:
#Create a new Dataframe for the data
df = pd.DataFrame() #Create the headers for the data

### Simulate the key variables:

### Age:

#### Assumptions: Age is based on the Dogs Trust dataset extrapolated by year using US data as basis (see research above):

< 6 mths 14%; 6-12 mths 22%; 1 year 12%;  2 years 11%; 3 years 6%; 4 years 8%; 5 years 7%; 6 years 4%; 7-10 years+ 13%; 10 yrs + 3%

Age 13 has been chosen as the the upper age of a senior dog in a shelter

#### Distribution:
Numpy.random.triangular() was selected to generate the 'Age' dataset as there is a clear skew in the distribution at 1-12 months.  This method was used to create an array between 1 month and 156 months (13 years) skewed around 6 months (mid-point 1-12 months).  Numpy.random.choice() was also considered however, numpy.random.triangular() was considered a better selection as it efficiently produced a selection by month without allocating a monthly probability.

#### Simulating the 'Age' dataset:

In [ ]:
#Set seed to zero to produce a consistent result
np.random.seed(0)

#Use random.triangular() to create an array between 1 month and 156 months (13 years) skewed around 6 months
Age = (np.random.triangular (0, 6, 156, size=200))

#Populate the 'Age' column with 200 samples aged 1 month to 13 years.
df['Age_Mths'] = np.round(Age)

In [ ]:
#Option to show the dataset 
#print(df['Age_Yrs'])

In [ ]:
#To create a new column calculating age in years based on 'Age_Mths/12'
#df.insert(2, 'Age_Yrs', np.nan) #Insert new column called 'Risk'
df['Age_Yrs'] = round(df.Age_Mths/ 12)

In [ ]:
#Alternative method to np.random.triangular
#Set seed to zero to produce a consistent result
#np.random.seed(0)
#Ages =  np.arange(0,11,1)
#Age1 = np.random.choice(Ages, size=200, replace=True, p=[.36,.12,.11,.06,.08,.07,.04,.04,.04,.04,.04])
#plt.hist(Age1)
#plt.show()
#print(Age1)
#df['Age_Yrs'] = np.round(Age1)

#### Plot the 'Age' dataset result:

In [ ]:
plt.hist(Age/12)
plt.title("\nSummary of Age of Dogs in Shelters\n")
plt.xlabel("\nAge in Years")
plt.ylabel("\nFrequency\n")
plt.show()

### Gender:

#### Assumptions:

Male   - 57%
Female - 43%
(Based on Dogs Trust Dataset)

#### Distribution:

Numpy.random.choice () was selected to generate the 'Gender' dataset as we have two options with attached probabilities for each

#### Simulating the 'Gender' Dataset

In [ ]:
#Create the Male/ Female object
sex = ['Male','Female']

#Set seed to produce a consistent result
np.random.seed(1)

#Use random.choice () to create an array with a probability of 57%:43% male:female ratio
Gender = np.random.choice(sex, size = 200, replace = True, p = [0.57,0.43])

#Populate the 'Gender' column with 200 samples.
df['Gender'] = Gender

In [ ]:
#Option to show the dataset 
#print(df)

#### Plot the 'Gender' dataset result:

In [ ]:
plt.hist (Gender)
plt.title("\nGender of Dogs in Shelters\n")
plt.xlabel("\nGender")
plt.ylabel("\nFrequency\n")
plt.show()

### Pedigree:

#### Assumptions:

Purebred     - 21%
Crossbreed   - 79% (Based on Dogs Trust Dataset)

#### Distributions:

Numpy.random.choice () was one again selected to generate the 'Pedigree' dataset as we have two options with attached probabilities for each

#### Simulating the 'Pedigree' dataset:

In [ ]:
#Create the pedigree object
pedigree = ['Purebreed','Crossbreed']

#Set seed to produce a consistent result
np.random.seed(1)

#Use random.choice () to create an array with a probability of 21%:79% (Purebreed:Crossbreed)
Pedigree = np.random.choice(pedigree, size = 200, replace = True, p = [0.21,0.79])

#Populate the 'Pedigree' column with 200 samples.
df['Pedigree'] = Pedigree

In [ ]:
#Option to show the dataset 
#print(df['Pedigree'])

#### Plot the 'Pedigree' dataset result:

In [ ]:
plt.hist (Pedigree)
plt.title("\nPedigree of Dogs in Shelters\n")
plt.xlabel("\nPedigree Status")
plt.ylabel("\nFrequency\n")
plt.show()

### Size:

#### Assumptions:
Small 22%; Medium 60%, Large 18%

#### Distribution:
Numpy.random.choice () was one again selected to generate the 'Size' dataset as we have two options with attached probabilities for each

#### Simulating the 'Size' dataset:

In [ ]:
#Create the Size Object
Status = ['Small','Medium','Large']

#Set seed to produce a consistent result
np.random.seed(1)

#Use random.choice () to create an array with a probability of 22%:60%:18%
Size = np.random.choice(Status, size = 200, replace = True, p = [.22,.6,.18])

#Populate the 'Size' column with Small, Medium,Large & X-Large samples
df['Size'] = Size

In [ ]:
# Option to show the dataset 
#print(df['Size'])

#### Plot the 'Size' dataset results:

In [ ]:
plt.hist (Size)
plt.title("\nSize of Dogs in Shelters\n")
plt.xlabel("\nSize")
plt.ylabel("\nFrequency\n")
plt.show()

### Risk:

In [ ]:
#To create data to populate a new column called 'At Risk' based on risk profile around age, gender, coat colour and size.
def Risk_Rating(row):

    if row['Age_Yrs'] > 10:
        return 'V-High'
    if row['Age_Yrs'] > 6 and row['Age_Yrs'] <= 10:
        return 'High' 
    if row['Age_Yrs'] > 3 and row['Age_Yrs'] <= 6 and row['Gender'] == 'Male' and row['Size'] == 'Medium' and row['Pedigree'] =='Crossbreed':
        return 'High'     
    if row['Age_Yrs'] > 3 and row['Age_Yrs'] <= 6 and row['Gender'] == 'Female' and row['Size'] == 'Medium' and row['Pedigree'] =='Crossbreed':
        return 'Medium' 
    if row['Age_Yrs'] > 3 and row['Age_Yrs'] <= 6 and row['Size'] != 'Medium':
        return 'Medium' 
    if row['Age_Yrs'] > 1 and row['Age_Yrs'] <= 3 and row['Gender'] == 'Male' and row['Size'] == 'Medium' and row['Pedigree'] =='Crossbreed':
        return 'Medium'   
    if row['Age_Yrs'] > 1 and row['Age_Yrs'] <= 3 and row['Gender'] == 'Female' and row['Size'] == 'Medium' and row['Pedigree'] =='Crossbreed':
        return 'Medium'       
    if row['Age_Yrs'] > 1 and row['Age_Yrs'] <= 3 and row['Size'] != 'Medium' and row['Pedigree'] =='Crossbreed' or row['Pedigree'] !='Crossbreed':
        return 'Low'     
    if row['Age_Yrs'] <= 1: 
        return 'Low'        
    else:
        return 'null'

In [ ]:
#To populate a column called 'Risk' in the dataframe from the results above  
df['Risk'] = df.apply(lambda row: Risk_Rating(row), axis=1)

In [ ]:
#Option to show the dataset 
#print(df['Risk'])

In [ ]:
#To check to ensure no 'null' values in the 'Risk' column
df['Risk'].reindex(index = ["Low", "Medium", "High","V-High"])
#https://stackoverflow.com/questions/30009948/how-to-reorder-indexed-rows-based-on-a-list-in-pandas-data-frame/3001000
((df.groupby( ['Risk'] ).count()))

In [ ]:
df.plot(x ='Risk', y='Age_Yrs', kind = 'scatter')
plt.show()

### Duration (Length of Stay):

#### Assumptions:

Average adoption time - 29 days

Split By Age Group: Puppies < 6 months - 20 days; 6-12 months - 28 days; Adult dogs (1-6 years) - 32 days; Seniors 7+ years - 72 days.

#### Distribution:

#### Simulating the 'Length of Stay' dataset:

In [ ]:
#Length of Stay linked to Risk
def duration(risk):
    if risk == 'V-High':
        return np.random.triangular (30, 72, 90) # Risk equiv to > 7 yr old senior  
    if risk  == 'High':
        return np.random.triangular (1, 50, 60) # Risk equiv to 7 yr old adult  
    if risk  == 'Medium':
        return np.random.triangular (1, 32, 40)  # Risk equiv to < 1-6 yr old adult (average 32)
    if risk  == 'Low':
        return np.random.normal(20, 3)           # Risk equiv to < 0-6 mth old puppy (average 20)

In [ ]:
#To populate a column called 'Duration (Days)' in the dataframe from the results above  
pd.set_option("display.precision", 0) #Use 1 decimal places in output display
df['Duration (Days)'] = df['Risk'].apply(duration)

In [ ]:
#Option to display the dataset
#df.round({'Duration (Days)': 0, 'Age_Mths': 0, 'Age_Yrs': 0})  # generate dataframe #

#### Plot the Duration (Days) dataset:

In [ ]:
df.plot(x ='Age_Yrs', y='Duration (Days)', kind = 'scatter')
df.hist('Duration (Days)')
plt.show()

***

### Create a summary dataset:

In [ ]:
#To delete unnecessary dataframes
#df = df.drop('%', axis=1)

In [ ]:
#To check for missing values
pd.set_option("display.max_rows", 200)#Display all entries
df.isnull()
df.style.highlight_null(null_color='red'); #highlight any null values in red
#print(df.isnull()) # Option to print null value check

In [ ]:
#To reset the index to start at 1 instead of zero
#https://stackoverflow.com/questions/32249960/in-python-pandas-start-row-index-from-1-instead-of-zero-without-creating-additi
df.index = np.arange(1, len(df) + 1)

In [ ]:
#To re-order the columns
df = df[['Duration (Days)', 'Age_Mths', 'Age_Yrs', 'Gender', 'Pedigree','Size','Risk']]

In [ ]:
#To format the dataframe
#Display the DataFrame, rounding continuous variables to two decimal places
df.round({'Duration (Days)': 0, 'Age_Mths': 0, 'Age_Yrs': 0})
pd.set_option("display.precision", 0)# Use 0 decimal places in output display
pd.set_option('expand_frame_repr', False) #print dataframe on a single line
#https://stackoverflow.com/questions/39482722/how-to-print-dataframe-on-single-line
pd.set_option("display.max_rows", 200)#Display all entries
pd.options.display.max_columns = 7 #Print 7 Columns
df.style.highlight_null(null_color='red');

### Display the summary dataset:

In [ ]:
df

In [ ]:
((df.groupby( ['Age_Yrs'] ).count()))

In [ ]:
df.describe()

### Plot the results as a scatterplot:

In [ ]:
sns.relplot(x="Age_Yrs", y='Duration (Days)', hue='Size',size='Gender',sizes=(20, 200), alpha=.5, palette="muted",height=6, data=df)
plt.show()

### References:
https://www.aspca.org/animal-homelessness/shelter-intake-and-surrender/pet-statistics

https://www.petfinder.com/pet-adoption/dog-adoption/pets-relinquished-shelters/

https://pubmed.ncbi.nlm.nih.gov/32575574/#&gid=article-figures&pid=figure-2-uid-1

https://www.thejournal.ie/dogs-abandoned-5194543-Sep2020/

https://news.orvis.com/dogs/when-is-it-time-to-surrender-your-dog

https://faunalytics.org/understanding-the-factors-that-lead-to-successful-dog-adoptions/

https://veterinaryrecord.bmj.com/content/161/9/283.2

https://pubmed.ncbi.nlm.nih.gov/29557174/

https://s3.amazonaws.com/cdn-origin-etr.akc.org/wp-content/uploads/2020/07/21083509/MACH-EndYear2019.pdf

https://apnews.com/article/218042cf3f684525874f48ae990ed49b

https://www.hillspet.com/dog-care/new-pet-parent/common-reasons-adopted-dogs-are-returned-to-shelters

https://data.bloomington.in.gov/dataset/animal-care-and-control/resource/7a847ec2-31c6-48e3-b0bc-02af2fa94587

https://www.companionanimalpsychology.com/2013/03/what-influences-dogs-length-of-stay-at.html

US Re-homing stats:
https://data.world/rdowns26/austin-animal-shelter/workspace/file?filename=Project+Report.pdf

US Older dog study:
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5867524/

UK Dogs Trust study:
https://www.tandfonline.com/doi/full/10.1080/10888700903369255